<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Locker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-content">
        <div class="header">
            <!-- Logo de la empresa -->
            <img src="{{ url_for('static', filename='img/LockersDuoc.png') }}" alt="Logo Lockers Duoc" class="logo-img">
            <h1>Estado de los Lockers</h1>
        </div>
        <div class="login-container">
            <h2>Reservar Locker</h2>
            <form action="/reserve" method="POST">
                <label for="numeroLocker">Número de Locker:</label>
                <input type="number" id="numeroLocker" name="numeroLocker" required>

                <label for="piso">Piso:</label>
                <input type="number" id="piso" name="piso" required>

                <button type="submit">Reservar</button>
            </form>
        </div>
    </div>
</body>
</html>
